<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<center><h2 style="margin-bottom:20px;margin-top:20px;color:green;">Languages Traslator</h2></center>
<div class="container">
    <form method="post">
        {% csrf_token %}
  <div class="row">
    <div class="col">
      <div class="form-group">
          <div class="form-group">
              <label >Source</label>
              <select class="form-control" name="source">
                  {% for key, value in data.items %}
                <option value={{key}}>{{value}}</option>
                 {%  endfor %}
              </select>
          </div>
          <textarea class="form-control" rows="10" name="textsource" id = "source_copy"  required> {{source}}</textarea>
          <br>
            <button type="button" class="btn btn-danger" onclick="document.getElementById('source_copy').value = ''" style="float:right;" >Clear</button>
           <button type="button" class="btn btn-primary" onclick="myFunction('source_copy')" style="float:left;"  >Copy</button>
      </div>
    </div>
    <div class="col">
        <div class="form-group">
          <div class="form-group">
              <label >Target</label>
              <select class="form-control" name="target">
                  {% for key, value in data.items %}
                 <option value={{key}}>{{value}}</option>
                 {%  endfor %}
              </select>
          </div>
            <textarea class="form-control" rows="10" id = "traget_copy">{{result}}</textarea>
            <br>
            <button type="button" class="btn btn-danger"  onclick="document.getElementById('traget_copy').value = ''" style="float:left;" >Clear</button>
            <button type="button" class="btn btn-primary"  onclick="myFunction('traget_copy')" style="float:right;" >Copy</button>
        </div>
    </div>
  </div>
        <br>
        <center> <button type="submit" class="btn btn-dark">Submit</button></center>
    </form>
</div>

<script type="text/javascript">

function myFunction(id){
 document.getElementById(id).select();
 document.execCommand('copy');
}
</script>
</body>
</html>
